<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    script(src="js/all.js")
    link(rel="stylesheet", href="css/all.css")
  body
    .container
      h1 Hello Gulp
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus incidunt necessitatibus sunt quod ipsa sequi laboriosam excepturi repellendus nesciunt non illum deleniti dignissimos tempore nam dolor aut, mollitia delectus.
      span Hello